<h4 class="h5 my-4 text-gray-800">Datos del Doctor</h4>
<div class="form-floating mb-3">
    <input type="text" list="datalistDoctores" class="form-control" id="{{ doctor_form.name.id_for_label }}" name="{{ doctor_form.name.html_name }}" placeholder="Nombre del Doctor" required>
    <label for="{{ doctor_form.name.id_for_label }}">Nombre del Doctor</label>
    <datalist id="datalistDoctores">
    {% for doctor in lista_doctores %}
        <option value="{{doctor.name}}">
    {% endfor %}
    </datalist>
</div>