{% extends "base.html" %}

{% load static %}
{% block title %}Listado de Trabajos{% endblock %}

{% block head %}

<!-- Aquí puedes añadir estilos o scripts específicos para esta vista -->
     <!-- Custom styles for this page -->
     <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-3 col-md-6 mb-4">
            {% if estado == 'EN_PROCESO' %}
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Trabajos pendientes</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{total_trabajos}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
            {% elif estado == 'TERMINADO' %}
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Trabajos terminados</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{total_trabajos}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Nombre del Paciente</th>
                    <th>RUT</th>
                    <th>Nombre del Dentista</th>
                    <th>Fecha de Entrega</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                {% for trabajo in trabajos %}
                    <tr>
                        <td>{{ trabajo.paciente.nombre }}</td>
                        <td>{{ trabajo.paciente.rut }}</td>
                        <td>{{ trabajo.dentista.nombre }}</td>
                        <td>{{ trabajo.fecha_entrega }}</td>
                        <td class="text-center align-middle">
                            {% if trabajo.estado == 'EN_PROCESO' %}
                                <span class="badge bg-warning text-dark">{{ trabajo.get_estado_display }}</span>
                            {% elif trabajo.estado == 'TERMINADO' %}
                                <span class="badge bg-success">{{ trabajo.get_estado_display }}</span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}

{% block scripts %}
    <!-- Page level plugins -->
    <script src="{% static "vendor/datatables/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "vendor/datatables/dataTables.bootstrap4.min.js" %}"></script>

    <!-- Page level custom scripts -->
    <script>
        $(document).ready(function() {
            $('#dataTable').DataTable({
                "paging": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "language": {
                    "url": "{% static 'vendor/datatables/Spanish.json' %}"
                }
            });
        });
    </script>
{% endblock %}