{% extends "base.html" %}

{% block title %}Listado de Trabajos{% endblock %}

{% block head %}
<!-- Aquí puedes añadir estilos o scripts específicos para esta vista -->
{% endblock %}

{% block content %}
<h1>Listado de Trabajos</h1>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre del Paciente</th>
                <th>RUT</th>
                <th>Nombre del Dentista</th>
                <th>Fecha de Entrega</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            {% for trabajo in trabajos %}
                <tr>
                    <td>{{ trabajo.paciente.nombre }}</td>
                    <td>{{ trabajo.paciente.rut }}</td>
                    <td>{{ trabajo.dentista.nombre }}</td>
                    <td>{{ trabajo.fecha_entrega }}</td>
                    <td>{{ trabajo.estado }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
