:root {
    --color-tuimagen: #892a7d;
    --color-texto: #fff;
  }

  
header svg {
  display: block;
  margin: 0 auto 0.25rem; /* mb-1 */
  height: 24px; /* height="24" */
  width: 24px; /* width="24" */
  fill: var(--color-texto) !important; /* Aplica el color al relleno del SVG */
  stroke: var(--color-texto) !important; /* Aplica el color al trazo del SVG */
}

  .bg-tuimagen
 {
    background-color: var(--color-tuimagen) !important;
    color: var(--color-texto) !important;
}

.bg-tuimagen * {
  color: var(--color-texto) !important;
}

/* Sobrescribir los estilos de Bootstrap */
.btn-primary {
  color: var(--color-texto) !important;
  background-color: var(--color-tuimagen) !important;
  border-color: var(--color-tuimagen) !important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: var(--color-texto) !important;
  background-color: #751865 !important; /* Un tono más oscuro, puedes ajustar este valor */
  border-color: #751865 !important; /* Un tono más oscuro, puedes ajustar este valor */
}

.btn-outline-light:hover {
  color: black !important; /* Cambia el color del texto al pasar el ratón */
}

.btn-outline-light:hover * {
  color: black !important; /* Cambia el color del texto al pasar el ratón */
}

/* clase para centrar el contenido verticalmente */
.center-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
