{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Tu Imagen Lab{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'images/tuimagenlogo_mini.ico' %}">
    <!-- Bootstrap CSS -->
    {% load bootstrap5  %}
    {% bootstrap_css %}
    <!-- Bootstrap Icons CSS -->
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900" rel="stylesheet">
    <!-- SweetAlert2 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block head %}
    <!-- Aquí puedes añadir estilos CSS comunes, scripts JS, etc. -->
    {% endblock %}
</head>
<body>
    <div class="d-flex flex-column min-vh-100">
        {% include "header.html" %}
        <main class="flex-fill mt-4 mb-4 {% block main_class %}container px-0{% endblock %}">
            {% block content %}
            <!-- Aquí se incluirá el contenido específico de cada vista -->
            {% endblock %}
        </main>
        {% include "footer.html" %}
    </div>
    <!-- Bootstrap JS and Popper.js -->
    {% bootstrap_javascript %}
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.js"></script>
    

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

    {% block scripts %}
    <!-- Aquí puedes añadir scripts JS específicos para cada vista -->
    {% endblock %}
</body>
</html>
