{% load static %}
<div class="bg-tuimagen">
    <footer class="container d-flex flex-wrap justify-content-between align-items-center py-3">
        <div class="col-md-4 d-flex align-items-center">
          <a href="https://agenciaideaspro.cl/" target="_blank" class="mb-3 mb-md-0 text-body-secondary text-decoration-none lh-1">
            <img src="{% static 'images/ideas_pro_logo.png' %}" width="40" height="40" alt="IdeasPro logo">
          </a>
          <span class="mb-3 mb-md-0 text-body-secondary">
            © <span id="currentYear"></span> Agencia IdeasPro
        </span>
        </div>
    
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
          <li class="ms-3"><a class="text-body-secondary" href="https://www.tiktok.com/@agenciaideaspro" target="_blank"><i class="fa-brands fa-tiktok fa-lg" style="color: #ffffff;"></i></i></a></li>
          <li class="ms-3"><a class="text-body-secondary" href="https://www.instagram.com/agenciaideaspro/" target="_blank"><i class="fa-brands fa-instagram fa-lg" style="color: #ffffff;"></i></a></li>
          <li class="ms-3"><a class="text-body-secondary" href="https://www.facebook.com/ideasproagencia/" target="_blank"><i class="fa-brands fa-facebook-f fa-lg" style="color: #ffffff;"></i></a></li>
        </ul>
      </footer>
</div>

{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var currentYear = new Date().getFullYear();
        document.getElementById('currentYear').textContent = currentYear;
    });
</script>
{% endblock scripts %}

