{% load static %}
<div class="bg-tuimagen">
    <header class=" container d-flex flex-wrap align-items-center justify-content-center justify-content-md-between px-0 py-3">
        {% comment %} Logo {% endcomment %}
        <div class="col-md-3 mb-2 mb-md-0">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none ">
                <img class="bi me-2" src="{% static 'images/tuimagenlogo_blanco.png' %}" width="40" height="32" alt="Tu Imagen logo">
                <span class="fs-4">Tu Imagen Lab</span>
                
                </a>
        </div>

        {% if user.is_authenticated %}
        {% comment %} menu {% endcomment %}
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'seleccionar_tipo_trabajo' %}">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/></svg>
                    Crear
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'trabajos_pendientes' %}">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M256 0a256 256 0 1 1 0 512A256 256 0 1 1 256 0zM232 120V256c0 8 4 15.5 10.7 20l96 64c11 7.4 25.9 4.4 33.3-6.7s4.4-25.9-6.7-33.3L280 243.2V120c0-13.3-10.7-24-24-24s-24 10.7-24 24z"/></svg>
                    Pendientes
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'listar_trabajos_terminiados' %}">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M192 0c-41.8 0-77.4 26.7-90.5 64H64C28.7 64 0 92.7 0 128V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V128c0-35.3-28.7-64-64-64H282.5C269.4 26.7 233.8 0 192 0zm0 64a32 32 0 1 1 0 64 32 32 0 1 1 0-64zM305 273L177 401c-9.4 9.4-24.6 9.4-33.9 0L79 337c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L271 239c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"/></svg>
                    Terminados
                </a>
            </li>
        </ul>
        {% comment %} cerrar sesion {% endcomment %}
        <div class="col-md-3 text-end">
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button class="btn btn-outline-light" type="submit">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    Cerrar sesión
                </button>
            </form>
        </div>
        {% endif %}
</header>
</div>
