{% extends 'base.html' %}
{% load static %}
{% block main_class %}center-login{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h1 mb-0 text-gray-800">Fresado</h1>
            </div>
            <form id="trabajoForm" method="post" class="needs-validation" novalidate>
                <div class="row">
                    <!-- Tarjeta para Datos del Paciente, Doctor y Trabajo -->
                    <div class="col-md-5">
                        <div class="card mb-4">
                            <div class="card-body">

                                    {% csrf_token %}
                                    <h4 class="h5 my-4 text-gray-800">Datos del Paciente</h4>
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="{{ paciente_form.name.id_for_label }}" name="{{ paciente_form.name.html_name }}" placeholder="Nombre del Paciente" required>
                                        <label for="{{ paciente_form.name.id_for_label }}">Nombre del Paciente</label>
                                        {% for error in paciente_form.name.errors %}
                                            <div class="invalid-feedback d-block">{{ error }}</div>
                                        {% endfor %}
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control is-rut" id="{{ paciente_form.rut.id_for_label }}" name="{{ paciente_form.rut.html_name }}" placeholder="RUT del Paciente" required>
                                        <label for="{{ paciente_form.rut.id_for_label }}">RUT del Paciente</label>
                                        {% for error in paciente_form.rut.errors %}
                                            <div class="invalid-feedback d-block">{{ error }}</div>
                                        {% endfor %}
                                    </div>

                                    <h4 class="h5 my-4 text-gray-800">Datos del Doctor</h4>
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="{{ doctor_form.name.id_for_label }}" name="{{ doctor_form.name.html_name }}" placeholder="Nombre del Doctor" required>
                                        <label for="{{ doctor_form.name.id_for_label }}">Nombre del Doctor</label>
                                        {% for error in doctor_form.name.errors %}
                                            <div class="invalid-feedback d-block">{{ error }}</div>
                                        {% endfor %}
                                    </div>

                                    <h4 class="h5 my-4 text-gray-800">Datos del Trabajo</h4>
                                    <div class="form-floating mb-3">
                                        <input type="date" class="form-control" id="{{ trabajo_form.fecha_entrega.id_for_label }}" name="{{ trabajo_form.fecha_entrega.html_name }}" placeholder="Fecha de Entrega" required>
                                        <label for="{{ trabajo_form.fecha_entrega.id_for_label }}">Fecha de Entrega</label>
                                        {% for error in trabajo_form.fecha_entrega.errors %}
                                            <div class="invalid-feedback d-block">{{ error }}</div>
                                        {% endfor %}
                                    </div>
                                    <div class="form-check mb-3">
                                        <input type="checkbox" class="form-check-input" id="{{ trabajo_form.con_maquillaje.id_for_label }}" name="{{ trabajo_form.con_maquillaje.html_name }}" {% if trabajo_form.con_maquillaje.value %}checked{% endif %}>
                                        <label class="form-check-label" for="{{ trabajo_form.con_maquillaje.id_for_label }}">Con Maquillaje</label>
                                        {% for error in trabajo_form.con_maquillaje.errors %}
                                            <div class="invalid-feedback d-block">{{ error }}</div>
                                        {% endfor %}
                                    </div>
                        
                            </div>
                        </div>
                    </div>

                    <!-- Tarjeta para Piezas -->
                    <div class="col-md-7">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h4 class="h5 my-4 text-gray-800">Piezas</h4>
                                    <button type="button" class="btn btn-secondary mb-3 add-pieza">Duplicar</button>
                                </div>
                                <div id="piezas-container">
                                    {{ pieza_formset.management_form }}
                                    {% for form in pieza_formset %}
                                        <div class="card mb-3 pieza-form">
                                            <div class="card-body d-flex flex-wrap justify-content-between">
                                                <div class="form-floating mb-3 flex-fill me-1">
                                                    <select class="form-select" id="{{ form.tipo_pieza.id_for_label }}" name="{{ form.tipo_pieza.html_name }}" required>
                                                        {% for choice in form.tipo_pieza.field.choices %}
                                                            <option value="{{ choice.0 }}" {% if choice.0 == form.tipo_pieza.value %}selected{% endif %}>{{ choice.1 }}</option>
                                                        {% endfor %}
                                                    </select>
                                                    
                                                    <label for="{{ form.tipo_pieza.id_for_label }}">Tipo</label>
                                                </div>
                                                <div class="form-floating mb-3 flex-fill me-1">
                                                    <select class="form-select" id="{{ form.material.id_for_label }}" name="{{ form.material.html_name }}" required>
                                                        {% for choice in form.material.field.choices %}
                                                            <option value="{{ choice.0 }}" {% if choice.0 == form.material.value %}selected{% endif %}>{{ choice.1 }}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <label for="{{ form.material.id_for_label }}">Material</label>
                                                </div>
                                                <div class="form-floating mb-3 flex-fill me-1">
                                                    <input type="text" class="form-control" id="{{ form.bloque.id_for_label }}" name="{{ form.bloque.html_name }}" placeholder="Bloque" required>
                                                    <label for="{{ form.bloque.id_for_label }}">Bloque</label>
                                                </div>
                                                <div class="form-floating mb-3 flex-shrink-0">
                                                    <button type="button" class="btn btn-danger mb-3 remove-pieza">
                                                        <i class="fa-solid fa-delete-left fa-xl"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                
                                <div class="text-center">
                                    <button type="button" id="submitBtn" class="btn btn-primary w-100 py-2">Guardar Trabajo</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </form>
            {% if paciente_form.errors or doctor_form.errors or trabajo_form.errors or pieza_formset.non_form_errors %}
            <div class="alert alert-danger mt-3" role="alert">
                {% for error in paciente_form.non_field_errors %}
                    {{ error }}
                {% endfor %}
                {% for error in doctor_form.non_field_errors %}
                    {{ error }}
                {% endfor %}
                {% for error in trabajo_form.non_field_errors %}
                    {{ error }}
                {% endfor %}
                {% for error in pieza_formset.non_form_errors %}
                    {{ error }}
                {% endfor %}
                {% for field in paciente_form %}
                    {% for error in field.errors %}
                        <div>{{ field.label }}: {{ error }}</div>
                    {% endfor %}
                {% endfor %}
                {% for field in doctor_form %}
                    {% for error in field.errors %}
                        <div>{{ field.label }}: {{ error }}</div>
                    {% endfor %}
                {% endfor %}
                {% for field in trabajo_form %}
                    {% for error in field.errors %}
                        <div>{{ field.label }}: {{ error }}</div>
                    {% endfor %}
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{% static "js/validaciones/validar_formularios.js" %}"></script>
<script src="{% static "js/validaciones/validar_rut.js" %}"></script>
<script src="{% static "js/fresado/agregar_piezas.js" %}"></script>
<script src="{% static "js/fresado/agregar_fresado.js" %}"></script>
{% endblock %}
