{% extends 'base.html' %}

{% block main_class %}center-login{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h1 mb-0 text-gray-800">Fresado</h1>
            </div>
            <div class="row">
                <!-- Tarjeta para Datos del Paciente, Doctor y Trabajo -->
                <div class="col-md-5">
                    <div class="card mb-4">
                        <div class="card-body">
                            <form id="trabajoForm" method="post" class="needs-validation" novalidate>
                                {% csrf_token %}
                                <h4 class="h5 my-4 text-gray-800">Datos del Paciente</h4>
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="{{ paciente_form.name.id_for_label }}" name="{{ paciente_form.name.html_name }}" placeholder="Nombre del Paciente" required>
                                    <label for="{{ paciente_form.name.id_for_label }}">Nombre del Paciente</label>
                                    {% for error in paciente_form.name.errors %}
                                        <div class="invalid-feedback d-block">{{ error }}</div>
                                    {% endfor %}
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="{{ paciente_form.rut.id_for_label }}" name="{{ paciente_form.rut.html_name }}" placeholder="RUT del Paciente" required>
                                    <label for="{{ paciente_form.rut.id_for_label }}">RUT del Paciente</label>
                                    {% for error in paciente_form.rut.errors %}
                                        <div class="invalid-feedback d-block">{{ error }}</div>
                                    {% endfor %}
                                </div>

                                <h4 class="h5 my-4 text-gray-800">Datos del Doctor</h4>
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="{{ doctor_form.name.id_for_label }}" name="{{ doctor_form.name.html_name }}" placeholder="Nombre del Doctor" required>
                                    <label for="{{ doctor_form.name.id_for_label }}">Nombre del Doctor</label>
                                    {% for error in doctor_form.name.errors %}
                                        <div class="invalid-feedback d-block">{{ error }}</div>
                                    {% endfor %}
                                </div>

                                <h4 class="h5 my-4 text-gray-800">Datos del Trabajo</h4>
                                <div class="form-floating mb-3">
                                    <input type="date" class="form-control" id="{{ trabajo_form.fecha_entrega.id_for_label }}" name="{{ trabajo_form.fecha_entrega.html_name }}" placeholder="Fecha de Entrega" required>
                                    <label for="{{ trabajo_form.fecha_entrega.id_for_label }}">Fecha de Entrega</label>
                                    {% for error in trabajo_form.fecha_entrega.errors %}
                                        <div class="invalid-feedback d-block">{{ error }}</div>
                                    {% endfor %}
                                </div>
                                <div class="form-check mb-3">
                                    <input type="checkbox" class="form-check-input" id="{{ trabajo_form.con_maquillaje.id_for_label }}" name="{{ trabajo_form.con_maquillaje.html_name }}" {% if trabajo_form.con_maquillaje.value %}checked{% endif %}>
                                    <label class="form-check-label" for="{{ trabajo_form.con_maquillaje.id_for_label }}">Con Maquillaje</label>
                                    {% for error in trabajo_form.con_maquillaje.errors %}
                                        <div class="invalid-feedback d-block">{{ error }}</div>
                                    {% endfor %}
                                </div>
                    
                        </div>
                    </div>
                </div>

                <!-- Tarjeta para Piezas -->
                <div class="col-md-7">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <h4 class="h5 my-4 text-gray-800">Piezas</h4>
                                <button type="button" class="btn btn-secondary mb-3 add-pieza">Duplicar</button>
                            </div>
                            <div id="piezas-container">
                                {{ pieza_formset.management_form }}
                                {% for form in pieza_formset %}
                                    <div class="card mb-3 pieza-form">
                                        <div class="card-body d-flex flex-wrap justify-content-between">
                                            <div class="form-floating mb-3 flex-fill me-1">
                                                <select class="form-select" id="{{ form.tipo_pieza.id_for_label }}" name="{{ form.tipo_pieza.html_name }}" required>
                                                    {% for choice in form.tipo_pieza.field.choices %}
                                                        <option value="{{ choice.0 }}" {% if choice.0 == form.tipo_pieza.value %}selected{% endif %}>{{ choice.1 }}</option>
                                                    {% endfor %}
                                                </select>
                                                <label for="{{ form.tipo_pieza.id_for_label }}">Tipo</label>
                                                {% for error in form.tipo_pieza.errors %}
                                                    <div class="invalid-feedback d-block">{{ error }}</div>
                                                {% endfor %}
                                            </div>
                                            <div class="form-floating mb-3 flex-fill me-1">
                                                <select class="form-select" id="{{ form.material.id_for_label }}" name="{{ form.material.html_name }}" required>
                                                    {% for choice in form.material.field.choices %}
                                                        <option value="{{ choice.0 }}" {% if choice.0 == form.material.value %}selected{% endif %}>{{ choice.1 }}</option>
                                                    {% endfor %}
                                                </select>
                                                <label for="{{ form.material.id_for_label }}">Material</label>
                                                {% for error in form.material.errors %}
                                                    <div class="invalid-feedback d-block">{{ error }}</div>
                                                {% endfor %}
                                            </div>
                                            <div class="form-floating mb-3 flex-fill me-1">
                                                <input type="text" class="form-control" id="{{ form.bloque.id_for_label }}" name="{{ form.bloque.html_name }}" placeholder="Bloque" required>
                                                <label for="{{ form.bloque.id_for_label }}">Bloque</label>
                                                {% for error in form.bloque.errors %}
                                                    <div class="invalid-feedback d-block">{{ error }}</div>
                                                {% endfor %}
                                            </div>
                                            <div class="form-floating mb-3 flex-shrink-0">
                                                <button type="button" class="btn btn-danger mb-3 remove-pieza">
                                                    <i class="fa-solid fa-delete-left fa-xl"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="text-center">
                                <button type="button" id="submitBtn" class="btn btn-primary w-100 py-2">Guardar Trabajo</button>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            {% if paciente_form.errors or doctor_form.errors or trabajo_form.errors or pieza_formset.non_form_errors %}
            <div class="alert alert-danger mt-3" role="alert">
                {% for error in paciente_form.non_field_errors %}
                    {{ error }}
                {% endfor %}
                {% for error in doctor_form.non_field_errors %}
                    {{ error }}
                {% endfor %}
                {% for error in trabajo_form.non_field_errors %}
                    {{ error }}
                {% endfor %}
                {% for error in pieza_formset.non_form_errors %}
                    {{ error }}
                {% endfor %}
                {% for field in paciente_form %}
                    {% for error in field.errors %}
                        <div>{{ field.label }}: {{ error }}</div>
                    {% endfor %}
                {% endfor %}
                {% for field in doctor_form %}
                    {% for error in field.errors %}
                        <div>{{ field.label }}: {{ error }}</div>
                    {% endfor %}
                {% endfor %}
                {% for field in trabajo_form %}
                    {% for error in field.errors %}
                        <div>{{ field.label }}: {{ error }}</div>
                    {% endfor %}
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        function updateRemoveButtons() {
            const removeButtons = document.querySelectorAll('.remove-pieza');
            removeButtons.forEach(function (button) {
                button.disabled = removeButtons.length === 1;
            });
        }
    
        function updateFormIndices() {
            const forms = document.querySelectorAll('.pieza-form');
            const totalForms = document.getElementById('id_pieza-TOTAL_FORMS');
            forms.forEach(function (form, index) {
                form.querySelectorAll('input, select, textarea').forEach(function (input) {
                    const name = input.name.replace(/pieza-\d+-/, `pieza-${index}-`);
                    const id = input.id.replace(/id_pieza-\d+-/, `id_pieza-${index}-`);
                    input.name = name;
                    input.id = id;
                });
                form.querySelectorAll('label').forEach(function (label) {
                    const newFor = label.htmlFor.replace(/id_pieza-\d+-/, `id_pieza-${index}-`);
                    label.htmlFor = newFor;
                });
            });
            totalForms.value = forms.length;
        }
    
        document.querySelector('.add-pieza').addEventListener('click', function () {
            var piezaForm = document.querySelector('.pieza-form:last-of-type'); // Select the last pieza form
            var newPiezaForm = piezaForm.cloneNode(true);
    
            // Clear the values in the cloned form
            newPiezaForm.querySelectorAll('input, textarea').forEach(function (input) {
                input.value = '';
            });
    
            // Clear the selected values in the cloned form
            newPiezaForm.querySelectorAll('select').forEach(function (select) {
                select.selectedIndex = 0; // Set to the default value (first option)
            });
    
            var piezasContainer = document.getElementById('piezas-container');
            piezasContainer.appendChild(newPiezaForm);
            updateFormIndices();
            newPiezaForm.querySelector('.remove-pieza').addEventListener('click', function () {
                newPiezaForm.remove();
                updateRemoveButtons();
                updateFormIndices();
            });
            updateRemoveButtons();
        });
    
        document.querySelectorAll('.remove-pieza').forEach(function (button) {
            button.addEventListener('click', function () {
                if (document.querySelectorAll('.pieza-form').length > 1) {
                    button.closest('.pieza-form').remove();
                    updateRemoveButtons();
                    updateFormIndices();
                }
            });
        });
    
        document.getElementById('submitBtn').addEventListener('click', function (e) {
            e.preventDefault(); // Prevent the default form submission
        
            const form = document.getElementById('trabajoForm');
            const formData = new FormData(form);
        
            // Remove all previous pieza form data from FormData
            for (let pair of [...formData.entries()]) {  // Create a copy of the entries to avoid modifying the iterator during the loop
                if (pair[0].startsWith('pieza-0')) {
                    formData.delete(pair[0]);
                }
            }
        
            // Ensure all select values are included in the form data
            document.querySelectorAll('.pieza-form').forEach(function (piezaForm) {
                piezaForm.querySelectorAll('input, select, textarea').forEach(function (input) {
                    formData.append(input.name, input.value);
                });
            });
        
            // Log the form data to the console for debugging
            /*
            for (let pair of formData.entries()) {
                console.log(pair[0] + ': ' + pair[1]);
            }
            */
        
            fetch(form.action, {
                method: 'POST',
                body: formData,
                headers: {
                    'X-Requested-With': 'XMLHttpRequest',
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    Swal.fire({
                        title: 'Trabajo generado',
                        text: 'El trabajo ha sido generado exitosamente.',
                        icon: 'success',
                        confirmButtonText: 'OK'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.href = '{% url "seleccionar_tipo_trabajo" %}';
                        }
                    });
                } else {
                    console.log(data)
                    Swal.fire({
                        title: 'Error',
                        text: 'Hubo un problema al generar el trabajo. Por favor, inténtalo de nuevo.',
                        icon: 'error',
                        confirmButtonText: 'OK'
                    });
                }
            })
            .catch(error => {
                Swal.fire({
                    title: 'Error',
                    text: 'Hubo un problema al generar el trabajo. Por favor, inténtalo de nuevo.',
                    icon: 'error',
                    confirmButtonText: 'OK'
                });
            });
        });
        
    
        updateRemoveButtons();
        updateFormIndices();  // Ensure indices are correct on initial load
    });
    
    
</script>
{% endblock %}
