{% extends "base.html" %}

{% load static %}
{% block title %}Listado de Trabajos{% endblock %}

{% block head %}

<!-- Aquí puedes añadir estilos o scripts específicos para esta vista -->
     <!-- Custom styles for this page -->
     <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                {{total_trabajos.0.tipo_trabajo}}
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{total_trabajos.0.total}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-tv fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                {{total_trabajos.1.tipo_trabajo}}
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{total_trabajos.1.total}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-tooth fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                {{total_trabajos.2.tipo_trabajo}}
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{total_trabajos.2.total}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-teeth-open fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Trabajos Pendientes
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{trabajos.count}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-briefcase fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>N°</th>
                    <th>Nombre del Paciente</th>
                    <th>Nombre del Dentista</th>
                    <th>Fecha a Entregar</th>
                    <th>Tipo</th>
                    <th>Detalle</th>
                    <th>Terminar</th>
                </tr>
            </thead>
            <tbody>
                {% for trabajo in trabajos %}
                    <tr>
                        <td>{{trabajo.id}}</td>
                        <td>{{ trabajo.paciente.name }}</td>
                        <td>{{ trabajo.doctor.name }}</td>
                        <td>{{ trabajo.fecha_entrega }}</td>
                        <td class="text-center align-middle">
                            {% if trabajo.tipo_trabajo == 'fresado' %}
                            <span class="badge bg-success ">{{trabajo.get_tipo_trabajo_display}}</span>
                            {% elif trabajo.tipo_trabajo == 'impresion_3d' %}
                            <span class="badge bg-info ">{{trabajo.get_tipo_trabajo_display}}</span>
                            {% elif trabajo.tipo_trabajo == 'escaneo_intraoral' %}
                            <span class="badge bg-warning ">{{trabajo.get_tipo_trabajo_display}}</span>
                            {%endif%}
                        </td>
                        <td>
                            <a href="#" class="btn btn-outline-primary btn-icon-split" data-bs-toggle="modal" data-bs-target="#{{trabajo.tipo_trabajo}}" data-id="{{ trabajo.id }}">
                                <span class="icon text-white-50">
                                    <i class="fa-regular fa-eye fa-fade fa-xs primary" style="color: #707070;"></i>
                                </span>
                                <span class="text">Detalle</span>
                            </a>
                            
                        </td>
                        <td>
                            <button class="btn btn-outline-success btn-terminar-trabajo" data-id="{{ trabajo.id }}">
                                Terminar
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>

{% comment %} modales {% endcomment %}
{% include "trabajos/modals/impresion_3d.html" %}
{% include "trabajos/modals/fresado.html" %}
{% include "trabajos/modals/escaneo_intraoral.html" %}

{% endblock %}

{% block scripts %}
    <!-- Page level plugins -->
    <script src="{% static "vendor/datatables/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "vendor/datatables/dataTables.bootstrap4.min.js" %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static "js/datatable.js" %}"></script>
    <script src="{% static "js/detalle_trabajo.js" %}"></script>
    <script src="{% static "js/terminar_trabajo.js" %}"></script>
{% endblock %}