{% extends "base.html" %}
{% load static %}
{% block title %}Trabajos de {{ doctor.name }}{% endblock %}

{% block head %}

<!-- Aquí puedes añadir estilos o scripts específicos para esta vista -->
     <!-- Custom styles for this page -->
     <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row mb-4">
        <div class="col-md-3 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Trabajos de
                            </div>
                            <div id="nombreDoctor" class="h5 mb-0 font-weight-bold text-gray-800">{{doctor.name}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-address-card fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4 ml-auto">
            <div class="card border-left-secondary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Trabajos Terminados
                            </div>
                            <div class="font-weight-bold text-secondary text-uppercase mb-1">
                                Desde: <span id="fecha_desde" class="text-primary">{{fecha_desde}}</span>
                            </div>
                            <div class=" font-weight-bold text-secondary text-uppercase mb-1">
                                Hasta: <span id="fecha_hasta" class="text-primary" >{{fecha_hasta}}</span>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <div class="d-flex justify-content-between mb-4">
            <button type="button" class="btn btn-primary w-25" data-bs-toggle="modal" data-bs-target="#filtroFechasModal_trabajoDoctores">
                <i class="fa-solid fa-filter"></i>
                Buscar por Fecha
            </button>
            {% if not pagados %}
            <button id="marcarPagado" class="btn btn-success w-25">
                <i class="fa-solid fa-check"></i>
                Marcar como Pagado
            </button>
            {% endif %}
            <button id="generatePDF" class="btn btn-secondary w-25">
                <i class="fa-solid fa-file-pdf"></i>
                Generar PDF
            </button>
        </div>
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>N°</th>
                    <th>Nombre del Paciente</th>
                    {% if pagados %}
                    <th>Fecha de Pago</th>
                    {% else  %}
                    <th>Fecha de Entrega</th>
                    {% endif %}
                    <th>Tipo de Trabajo</th>
                    <th>Estado</th>
                    <th>Pagado</th>
                </tr>
            </thead>
            <tbody>
                {% for trabajo_doctor in trabajos_doctor %}
                    <tr>
                        <td>{{ trabajo_doctor.trabajo.id }}</td>
                        <td>{{ trabajo_doctor.trabajo.paciente.name }}</td>
                        {% if pagados %}
                        <td>{{ trabajo_doctor.fecha_pago }}</td>
                        {% else %}
                        <td>{{ trabajo_doctor.trabajo.fecha_entrega }}</td>
                        {% endif %}
                        <td>{{ trabajo_doctor.trabajo.get_tipo_trabajo_display }}</td>
                        <td>{{ trabajo_doctor.trabajo.get_estado_display }}</td>
                        <td>{{ trabajo_doctor.pagado|yesno:"Sí,No" }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% include "trabajos/modals/buscar_por_fecha_doctores.html" %}
{% endblock %}

{% block scripts %}
    <!-- Page level plugins -->
    <script src="{% static "vendor/datatables/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "vendor/datatables/dataTables.bootstrap4.min.js" %}"></script>

    <!-- jsPDF desde CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.3.1/jspdf.umd.min.js"></script>
    <!-- jsPDF autoTable desde CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.13/jspdf.plugin.autotable.min.js"></script>
    <!-- Page level custom scripts -->
    <script src="{% static "js/datatable.js" %}"></script>
    <script src="{% static "js/generate_pdf.js" %}"></script>
    <script src="{% static "js/marcar_trabajos_pagados.js" %}"></script>
{% endblock %}
