{% extends "base.html" %}
{% load static %}
{% block title %}Trabajos de {{ doctor.name }}{% endblock %}

{% block head %}

<!-- Aquí puedes añadir estilos o scripts específicos para esta vista -->
     <!-- Custom styles for this page -->
     <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row mb-4">
        {% comment %} <div class="col-12">
            <h2 class="text-primary">Trabajos de {{ doctor.name }}</h2>
        </div> {% endcomment %}
        <div class="col-md-3 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Trabajos de
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{doctor.name}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-address-card fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <button type="button" class="btn btn-primary mb-4" data-bs-toggle="modal" data-bs-target="#filtroFechasModal_trabajoDoctores">
            <i class="fa-solid fa-filter"></i>
            Buscar por Fecha
        </button>
        <a href="{% url 'generar_pdf_trabajos_doctor' doctor.id %}?fecha_desde={{ fecha_desde }}&fecha_hasta={{ fecha_hasta }}" class="btn btn-secondary mb-4">
            <i class="fa-solid fa-file-pdf"></i>
            Generar PDF
        </a>
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>N°</th>
                    <th>Nombre del Paciente</th>
                    <th>Fecha de Entrega</th>
                    <th>Tipo de Trabajo</th>
                    <th>Estado</th>
                    <th>Pagado</th>
                </tr>
            </thead>
            <tbody>
                {% for trabajo_doctor in trabajos_doctor %}
                    <tr>
                        <td>{{ trabajo_doctor.trabajo.id }}</td>
                        <td>{{ trabajo_doctor.trabajo.paciente.name }}</td>
                        <td>{{ trabajo_doctor.trabajo.fecha_entrega }}</td>
                        <td>{{ trabajo_doctor.trabajo.get_tipo_trabajo_display }}</td>
                        <td>{{ trabajo_doctor.trabajo.get_estado_display }}</td>
                        <td>{{ trabajo_doctor.pagado|yesno:"Sí,No" }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% include "trabajos/modals/buscar_por_fecha_doctores.html" %}
{% endblock %}

{% block scripts %}
    <!-- Page level plugins -->
    <script src="{% static "vendor/datatables/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "vendor/datatables/dataTables.bootstrap4.min.js" %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static "js/datatable.js" %}"></script>
{% endblock %}
