{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Tu Imagen Lab{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    {% load bootstrap5  %}
    {% bootstrap_css %}
    <!-- Bootstrap Icons CSS -->
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    {% block head %}
    <!-- Aquí puedes añadir estilos CSS comunes, scripts JS, etc. -->
    {% endblock %}
</head>
<body>
    {% include "header.html" %}
    <main>
        {% block content %}
        <!-- Aquí se incluirá el contenido específico de cada vista -->
        {% endblock %}
    </main>
    {% include "footer.html" %}
    <!-- Bootstrap JS and Popper.js -->
    {% bootstrap_javascript %}
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.js"></script>
</body>
</html>
