<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Tu Imagen Lab{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    {% load bootstrap5  %}
    {% bootstrap_css %}
    {% block head %}
    <!-- Aquí puedes añadir estilos CSS comunes, scripts JS, etc. -->
    {% endblock %}
</head>
<body>
    {% include "header.html" %}
    <main>
        {% block content %}
        <!-- Aquí se incluirá el contenido específico de cada vista -->
        {% endblock %}
    </main>
    {% include "footer.html" %}
    <!-- Bootstrap JS and Popper.js -->
    {% bootstrap_javascript %}
</body>
</html>
