<!-- Modal -->
<div class="modal fade" id="fresado" tabindex="-1" aria-labelledby="verTrabajoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="verTrabajoModalLabel">
                    Detalles del Trabajo de Fresado #<strong id="fresado-idTrabajo" class="text-primary"></strong> 
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Aquí se mostrarán los detalles del trabajo -->
                <p><strong class="text-primary" >RUT:</strong> <span id="fresado-detalleRut"></span></p>
                <p><strong class="text-primary" >Nombre del Paciente:</strong> <span id="fresado-detallePaciente"></span></p>
                <p><strong class="text-primary" >Nombre del Doctor:</strong> <span id="fresado-detalleDoctor"></span></p>
                <p><strong class="text-primary" >Fecha de Ingreso:</strong> <span id="fresado-detalleFechaIngreso"></span></p>
                <p><strong class="text-primary" >Fecha de Entrega:</strong> <span id="fresado-detalleFechaEntrega"></span></p>
                <p><strong class="text-primary" >Estado:</strong> <span id="fresado-detalleEstado"></span></p>
                <h5 >Detalles del Trabajo de Fresado</h5>
                <p><strong class="text-primary" >Con Maquillaje:</strong> <span id="fresado-detalleConMaquillaje"></span></p>
                <h5 >Piezas</h5>
                <table class="table ">
                    <thead>
                        <tr>
                            <th class="text-primary" >Tipo</th>
                            <th class="text-primary" >Material</th>
                            <th class="text-primary" >Bloque</th>
                        </tr>
                    </thead>
                    <tbody id="fresado-detallePiezas">
                        <!-- Las piezas se añadirán aquí dinámicamente -->
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
