<!DOCTYPE html>
<html>
<head>
    <title>Crear Trabajo</title>
</head>
<body>
    <h1>Crear Trabajo</h1>
    <form method="post">
        {% csrf_token %}
        <h2>Datos del Paciente</h2>
        {{ paciente_form.prefix }}
        {{ paciente_form.as_p }}
        
        <h2>Datos del Dentista</h2>
        {{ dentista_form.prefix }}
        {{ dentista_form.as_p }}
        
        <h2>Datos del Trabajo</h2>
        {{ trabajo_form.prefix }}
        {{ trabajo_form.as_p }}
        
        <h2>Piezas y Materiales</h2>
        {{ trabajo_pieza_formset.management_form }}
        {% for form in trabajo_pieza_formset %}
            {{ form.prefix }}
            {{ form.as_p }}
        {% endfor %}
        
        <button type="submit">Guardar</button>
    </form>
</body>
</html>
